/*plano de deixar a intrface bonita, porem simples*/
body {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 588px;
  display: flex;
  flex-direction: column;
  background-image: url(./imagen.png.jpg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: cover;
  transition: 1s;
}
/*formulario primcipal*/
.formulario {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: 2s;
  cursor: pointer;
}

.formulario:hover {
  border-radius: 8px;
}
/* texto acima do input */
label {
  font-size: 25px;
  margin: 0%;
  padding: 15px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: 0.2s;
}
/*campo de preenchimentos de dados*/
input {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 588px;
  align-items: start;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px rgb(0, 0, 0, 0.5);
  transition: 0.3s;
  -webkit-text-fill-color: rgba(0, 0, 0, 1)
}

input:hover {
  border-color: rgba(219, 93, 188, 0.274);
  border-radius: 20px;
  padding: 25px;
  -webkit-text-fill-color: rgba(187, 187, 228, 0.884)
}
/* bot達o de ogin */
.bot達o {
  display: flex;
  justify-content: center;
}
.bot達o-login {
  width: 190px;
  font-size: 25px;
  margin-top: 8px;
  border-radius: 10px;
  padding: 20px;
  color: rgba(0, 0, 0, 1);
  border: solid 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: 0.3s;
}

.bot達o-login:hover {
  font-size: 30px;
  background: rgba(139, 71, 122, 0.479);
  color: rgba(187, 187, 228, 0.884);
  border-color: rgba(219, 93, 188, 0.274);
  border-radius: 30px;
  padding: 25px;
}

::placeholder {
  font-size: 20px;
  transition: 2s;
  color: rgba(0, 0, 0, 1);
}
::placeholder :hover {
  font-size:25px;
  color: rgba(187, 187, 228, 0.884);

}
/*link de fazer cadastro*/
.cadastro {
  font-size: 20px;
  font-family: Georgia;
  color: rgba(0, 0, 0, 1);
  text-align: end;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

.cadastro:hover {
  color: rgba(187, 187, 228, 0.884);
  font-size: 25px;
  padding: 8px;
}
/*formulario principal!*/
form {
  max-width: 588px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 25px;
  margin-top: 80px;
  background-color: rgba(114, 46, 97, 0.274);
  opacity: 80%;
  border-radius: 10px;
  border: solid 1px rgb(0, 0, 0, 0.5);
  padding: 30px;
  transition: 0.4s;
}

form:hover {
  border-radius: 20px;
  border: solid 2px rgba(219, 93, 188, 0.274);
  padding: 40px;
}

/* h1- nome "login"*/
.h1 {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.h1:hover {
  color: rgba(187, 187, 228, 0.884);
  padding: 10px;
}
footer{
  margin: 100px;
  font-size: 20px;
}
